<!DOCTYPE html>
<html>
<head>
<title>Hill Status</title>
</head>
<body>

<h1>Check Status here</h1>
<p>Currently under Control: <%= capturestatus%></p>
<p>Hill-Time Team Red: <%= capturetimered%></p>
<p>Hill-Time Team Red: <%= capturetimeblue%></p>
<a  href="http://localhost:3000/status" >Refresh</a>

</body>
</html>