<!DOCTYPE html>
<html>
<head>
<title>Hill Status</title>
</head>
<body>

<h1>Check Status here</h1>
<h3>Currently under Control:</p>
    <%= capturestatus%>
<h3>Hill-Time Team Red:</p>
    <%= capturetimered%>
<h3>Hill-Time Team Red:</p>
    <%= capturetimeblue%>
<a  href="http://localhost:3000/status" >Refresh</a>

</body>
<style>
    body{
        font-family: 'Courier New', Courier, monospace;
        font-size: 50px;
    }
</style>
</html>